@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin-top: 10%;
    font-family: 'Lobster', cursive;
    background-color: black;
    color: white;
}
.ily{
    font-size: 5rem;
    text-align: center;
}
.are{
    font-size: 5rem;
     text-align: left;
     line-height: 10px;
}
.shy{
    font-size: 1.8rem; 
    text-align: left; 
    margin-left:80px; 
    line-height: 30px;
}